@use '../_foundation/mixin' as *;
@import url('http://fonts.cdnfonts.com/css/menlo');

main {
  font-size: 1.6rem;
  line-height: 2;
  color: #444;
  letter-spacing: 0.02em;
}
* {
  box-sizing: border-box;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}

.mv {
  position: relative;
  line-height: 1;
  height: 100vh;
  @include mq() {
  }
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  h1 {
    font-size: 7rem;
    @include mq() {
      font-size: 9rem;
    }
    background-size: 200% 100%;
    background-position-x: 100%;
    background-image: linear-gradient(
      -90deg,
      #eee 0%,
      #eee 50%,
      #1600ff 51%,
      #a200ff 64%,
      #ff2465 80%,
      #ff9400 100%
    );
    background-clip: text;
    color: transparent;
    animation: h1 2.5s cubic-bezier(0.25, 1, 0.5, 1) both;

    @keyframes h1 {
      0% {
        opacity: 0;
        transform: translate(-50%, -15%);
      }
      40% {
        opacity: 1;
        transform: translate(-50%, -50%);
      }
      45% {
        background-position-x: 100%;
      }
      100% {
        background-position-x: 0;
      }
    }
    // hoverの場合
    // transition: 1.2s cubic-bezier(0.25, 1, 0.5, 1);
    // &:hover {
    //   background-position-x: 0;
    // }
  }

  p {
    margin-top: 1.5rem;
    font-size: 1.6rem;
    @include mq() {
      font-size: 2rem;
    }
  }
}

.section {
  padding: 10rem 0 15rem;
  &:nth-child(even) {
    background-color: #ebebeb;
  }

  &_inner {
    padding: 0 32px;
    max-width: 600px;
    margin: 0 auto;
  }

  .section_head {
    margin-bottom: 5rem;
    text-align: center;
    h2 {
      font-size: 4.5rem;
      line-height: 1;
      margin-bottom: 2rem;
    }
    p {
      text-align: center;
    }
  }
}

.profile_cnt {
  p {
    text-align: left;
    @include mq() {
      text-align: center;
    }
  }
  span {
    font-size: 13px;
  }
}

.works {
  // worksの不足分200px飛び出ているので
  padding-bottom: 2rem;
  ul {
    width: 300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px;
    grid-template-areas: 'itemB itemA itemA' 'itemC itemC itemD';
    @include mq() {
      width: 600px;
      grid-template-columns: 200px 200px 200px;
      grid-template-rows: 200px 200px;
    }
    li:first-of-type {
      grid-area: itemA;
    }
    li:nth-of-type(2) {
      grid-area: itemB;
    }
    li:nth-of-type(3) {
      grid-area: itemC;
    }
    li:nth-of-type(4) {
      grid-area: itemD;
    }
  }
  li {
    a {
      display: block;
      height: 100%;
      position: relative;
      overflow: hidden;
      background: #fff;
      &::after {
        content: '';
        display: block;
        opacity: 0;
        transition: 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
      }
      &:hover {
        &::after {
          opacity: 1;
        }
        span {
          opacity: 1;
        }
      }
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: none;
      width: auto;
      height: 100%;
    }
    span {
      position: absolute;
      width: 95%;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      text-align: center;
      font-size: 15px;
      font-weight: bold;
      opacity: 0;
      transition: 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
    }
  }
}

.profile {
  &_cnt {
    text-align: center;
    img {
      width: 200px;
      margin-bottom: 30px;
    }
    p + p {
      margin-top: 1.8em;
    }
    a {
      color: rgb(135, 167, 235);
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.skills {
  ul {
    font-family: 'Menlo', sans-serif;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    li {
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #747474;
        text-align: center;
        color: #fff;
        height: 40px;
        font-size: 13px;
        line-height: 1;
        @include mq() {
          font-size: 15px;
        }
        &.prog {
          background-color: #999;
        }
      }
    }
  }
}

.releaseNotes {
  display: flex;
  flex-direction: column;
  gap: 20px;
  li {
    display: grid;
    gap: 5px 10px;
    grid-template-columns: 80px min-content 1fr;
    grid-template-rows: 1fr max-content;
    grid-template-areas: 'time version no' 'text text text';

    time {
      grid-area: time;
      font-weight: bold;
      font-size: 15px;
      line-height: 1;
    }
    .version {
      grid-area: version;
      line-height: 1;
      padding: 3px 8px;
      border-radius: 10px;
      background-color: lightblue;
      font-size: 12px;
      transform: translateY(-2px);
      &::before {
        content: 'ver.';
      }
    }
    .text {
      grid-area: text;
      font-size: 16px;
      line-height: 1.5;
    }
  }
}
