<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title re_may--private
    link(rel="stylesheet", href="/assets/styles/main.css")
  body
    .p-private
      .l-container
        h1.p-private__title 
          |Re:may 
          span -- private
        p.p-private__desc 
          |もみじのリンク集 &amp; プロフィール
          br
          br
          |本名で公開しているTopページは
          a(href="/") こちら

      
      section.p-private__sec.p-private__links
        .l-container
          h2 Links
          ul.p-private__links__flex
            li.p-private__links__flex__item
              a(href="https://twitter.com/robibon2/") Twitter
            li.p-private__links__flex__item
              a(href="https://www.youtube.com/channel/UCR5b4PoQ3ainPNFD5bk7enA") YouTube
            li.p-private__links__flex__item
              a(href="https://twitter.com/numechaaa") YouTube用twitter
            li.p-private__links__flex__item
              a(href="https://momijitan.hatenablog.com") ブログ
          
      section.p-private__sec.p-private__profile
        .l-container
          h2 Profile
          .text
            p 
              |通称もみじ。
              br
              |もみじん、もみお、もみこ、もみたん、お好きにお呼びなすって。
            p 
              |2020年4月現在、社会人2年目突入。(24)♂
              br
              |職業はWebの見た目を作る、フロントエンドエンジニア。
            p 
              |趣味は家でできること。
              br
              |ゲームしたり、アニメ見たり、自炊したり、楽器弾いたり、ブログ書いたり。
            p YouTubeでゲーム実況はじめました。
            p 最近はおい森、マイクラ、ヨシクラ、モンハンが熱い。

      
        
