<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title private
    link(rel="stylesheet", href="/assets/styles/main.css")
  body
    .p-private
      .l-container
        h1.p-private__title 
          |Re:may 
          span -- private
        p.p-private__desc 
          |もみじのホームページ。
          br
          |Twitter友達用の、限定公開ページ。
          br
          a(href="/") Topはこちら

      section.p-private__sec.p-private__profile
        .l-container
          input#check(type="checkbox", name="open")
          label#label(for="check") 
            |プロフィール 
            span ▼
          .text
            p 
              |通称もみじ。
              br
              |もみお。もみこ、もみたん、もみじくん、お好きにお呼びくだされ。
            p 
              |2019年現在、新社会人。(23)♂
              br
              |職業はWebの見た目を作る、フロントエンドエンジニア。(SEって呼ぶと怒る)
            p 
              |趣味は家でできること。
              br
              |コード書いたり、アニメ見たり、自炊したり、ゲームしたり、楽器弾いたり、ブログ書いたり。
            p ポケモン/モンハン/スマブラ/スプラ/アニメ/声優/約ネバ/ヒロアカ/ボイパ/電子ドラム/ベース/アカペラ/澤野弘之/ヨルシカ/フレデリック/あいみょん/米津玄師/星野源/...

      section.p-private__sec.p-private__links
        .l-container
          h2 リンク集
          ul.p-private__links__flex
            li.p-private__links__flex__item
              a(href="https://twitter.com/robibon2/") Twitter
            li.p-private__links__flex__item
              a(href="https://momijitan.hatenablog.com") 雑記ブログ
            li.p-private__links__flex__item
              a(href="https://peing.net/ja/robibon2") 質問箱
        
