<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title private
  body
    .p-private
      h1 非公開ページ
      p 仲良い人限定のページだお。

      ul.p-private__links
        li.p-private__links__item
          a(href="https://twitter.com/robibon2/") twitter
        li.p-private__links__item
          a(href="https://momijitan.hatenablog.com") 雑記ブログ
        li.p-private__links__item
          a(href="https://peing.net/ja/robibon2") 質問箱
        
