<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title re_may--private
    link(rel="stylesheet", href="/assets/styles/main.css")
  body
    .p-private
      .l-container
        h1.p-private__title 
          |Re:may 
          span -- private
        p.p-private__desc 
          |もみじのホームページ。
          br
          br
          |リンク集 &amp; プロフィール
          br
          |本名で公開しているTopページは
          a(href="/") こちら

      
      section.p-private__sec.p-private__links
        .l-container
          h2 Links
          ul.p-private__links__flex
            li.p-private__links__flex__item
              a(href="https://twitter.com/robibon2/") Twitter
            li.p-private__links__flex__item
              a(href="https://momijitan.hatenablog.com") はてなブログ
          
      section.p-private__sec.p-private__profile
        .l-container
          h2 Profile
          .text
            p 
              |通称もみじ。
              br
              |もみお、もみこ、もみたん、もみじくん、お好きにお呼びなすって。
            p 
              |2019年6月現在、新社会人。(23)♂
              br
              |職業はWebの見た目を作る、フロントエンドエンジニア。SEとは違うよ。
            p 
              |趣味は家でできること。
              br
              |コード書いたり、アニメ見たり、自炊したり、ゲームしたり、楽器弾いたり、ブログ書いたり。
            p ポケモン/モンハン/スマブラ/スプラ/アニメ/声優/約ネバ/ヒロアカ/ボイパ/電子ドラム/ベース/アカペラ/澤野弘之/ヨルシカ/フレデリック/あいみょん/米津玄師/星野源/...

      
        
