footer
  p メモ（https://andsaunafarm.com/project/）みたいなフッター
  p ロゴ
  ul
    li: a(href="/www/") ver3 
  .follow
    .head Follow me
    ul
      li: a(href="http://", target="_blank", rel="noopener noreferrer")
          img(src="", alt="twitter")

  p Created by numecha. @20220125
