footer
  //- .sns
  //-   .head Follow me
  //-   ul
  //-     li: a(href="http://", target="_blank", rel="noopener noreferrer") t
  //-     li: a(href="http://", target="_blank", rel="noopener noreferrer") f

  p Created by numecha. @20230503
