.c-sec {
  padding: 80px 0;
  &:nth-of-type(odd) {
    background-color: #EBEBEB;
  }

  &__title {
    font-size: 36px;
    font-family: $font-head;
    text-align: center;
    margin-bottom: 40px;
    @include mq(tablet) {
      font-size: 46px;
    }
  }

  // &.active {
  //   .c-sec__title {
  //     opacity: 1;
  //     animation: slide-in-r__small 1.2s;
  //     @include mq(tablet) {
  //       animation: slide-in-r 1.2s;
  //     }
  //   }
  // }
}