.c-sec {
  padding: 80px 0;
  &:nth-of-type(odd) {
    background-color: #EBEBEB;
  }

  &__title {
    font-size: 40px;
    font-family: $font-head;
    text-align: center;
    margin-bottom: 40px;
  }
}