<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title re_may

    link(rel="stylesheet", href="assets/styles/main.css")
  body
    .l-wrap
      .p-top
        .p-top__inner
          .p-top__title
            h1 Re:may
            p Shimon Dotera's site ver3
          .p-top__img
            img(src="assets/images/my-cat.jpg", alt="")
      .p-secWrap
        .p-intro.c-sec
          .l-container
            h2.c-sec__title Intro.
            p dorara.
            p 堂寺志門#[br]（どうてら しもん）
            p
              |フロントエンドエンジにゃあ。
              br
              |Webの見た目を作るお仕事。
              br
              |新社会人23歳♂。
              br
              |ゲームが好き。
              br
              |音楽が好き。
              br
              |ご飯が好き。

        .p-works.c-sec
          .l-container
            h2.c-sec__title Works

        .p-skills.c-sec
          .l-container
            h2.c-sec__title Skills

        .p-links.c-sec
          .l-container
            h2.c-sec__title Links

      footer
        p made by dorara. @20190512

  script(src="assets/scripts/main.js")