<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title re_may

    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous")
    link(rel="stylesheet", href="assets/styles/main.css")
  body
    .l-wrap
      .p-top
        .p-top__inner
          .p-top__title
            h1 Re:may
            p Shimon Dotera's site ver3
          .p-top__img
            img(src="assets/images/img-top-cat.jpg", alt="")
      .p-secWrap
        .p-intro.c-sec
          .l-container
            h2.c-sec__title Intro.
            p dorara.
            p 堂寺 志門#[br]（どうてら しもん）
            p
              |フロントエンドエンジにゃあ。
              br
              |Webの見た目を作るお仕事。
              br
              |新社会人23歳♂。
              br
              |ゲームが好き。
              br
              |音楽が好き。
              br
              |ご飯が好き。
            p お仕事ぼしゅうちゅう。

        .p-works.c-sec
          .l-container
            h2.c-sec__title Works
            .u-center
              ul.p-works__flex
                li.p-works__flex__item
                    a.p-works__item(href="https://dorara-m.github.io/Janken/")
                    .p-works__bg
                      img(src="https://placehold.jp/dbc372/3b1f1f/150x150.png?text=Janken", alt="Janken")
                li.p-works__flex__item
                    a.p-works__item(href="https://dorara-m.github.io/Janken2/")
                    .p-works__bg
                      img(src="https://placehold.jp/fcddf7/132630/150x150.png?text=Janken2%0A", alt="Janken2")
                li.p-works__flex__item
                    a(href="http://").p-works__item
                li.p-works__flex__item
                    a(href="http://").p-works__item
                li.p-works__flex__item
                    a(href="http://").p-works__item
  
        .p-skills.c-sec
          .l-container
            h2.c-sec__title Skills
            .u-center
              .p-skills__flex
                .p-skills__flex__item
                  .p-skills__item HTML
                .p-skills__flex__item
                  .p-skills__item CSS
                .p-skills__flex__item
                  .p-skills__item Pug
                .p-skills__flex__item
                  .p-skills__item SCSS
                .p-skills__flex__item
                  .p-skills__item JS
                .p-skills__flex__item
                  .p-skills__item jQuery
                .p-skills__flex__item
                  .p-skills__item gulp
                .p-skills__flex__item
                  .p-skills__item Git
                .p-skills__flex__item
                  .p-skills__item GitHub
                .p-skills__flex__item
                  .p-skills__item Netlify
                .p-skills__flex__item
                  .p-skills__item--study WordPress
                .p-skills__flex__item
                  .p-skills__item--study PHP

        .p-links.c-sec
          .l-container
            h2.c-sec__title Links
            .u-center
              .p-links__flex
                .p-links__flex__item
                  .p-links__img
                    i.fab.fa-twitter
                .p-links__flex__item
                  .p-links__img
                    i.fab.fa-facebook
                .p-links__flex__item
                  .p-links__img
                    img(src="assets/images/icon-insta.png", alt="")
                .p-links__flex__item
                  .p-links__img
                    i.fab.fa-github
                .p-links__flex__item
                  .p-links__img
                    img(src="assets/images/icon-qiita.png", alt="")

        footer.p-footer.c-sec
          p Made by dorara. @20190512

  script(src="assets/scripts/main.js")