<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title re_may

    link(rel="stylesheet", href="assets/styles/main.css")
  body
    .l-wrap
      .p-top
        .p-top__inner
          .p-top__title
            h1 Re:may
            p Shimon Dotera's site ver3
          .p-top__img
            img(src="assets/images/my-cat.jpg", alt="")
      .p-secWrap
        .p-intro.c-sec
          .l-container
            h2.c-sec__title Intro.
            p dorara.
            p 堂寺志門#[br]（どうてら しもん）
            p
              |フロントエンドエンジにゃあ。
              br
              |Webの見た目を作るお仕事。
              br
              |新社会人23歳♂。
              br
              |ゲームが好き。
              br
              |音楽が好き。
              br
              |ご飯が好き。

        .p-works.c-sec
          .l-container
            h2.c-sec__title Works
            .c-flex
              ul.p-works__flex
                li.p-works__itemWrap
                    a(href="http://").p-works__item
                      p Janken
                li.p-works__itemWrap
                    a(href="http://").p-works__item
                      p 石の裏の#[br]ダンゴムシ
                li.p-works__itemWrap
                    a(href="http://").p-works__item
                      p ToD
                li.p-works__itemWrap
                    a(href="http://").p-works__item
  
        .p-skills.c-sec
          .l-container
            h2.c-sec__title Skills
            .c-flex
              .p-skills__flex
                .p-skills__flex__item
                  .p-skills__item HTML
                .p-skills__flex__item
                  .p-skills__item CSS
                .p-skills__flex__item
                  .p-skills__item Pug
                .p-skills__flex__item
                  .p-skills__item SCSS
                .p-skills__flex__item
                  .p-skills__item JS
                .p-skills__flex__item
                  .p-skills__item jQuery
                .p-skills__flex__item
                  .p-skills__item gulp
                .p-skills__flex__item
                  .p-skills__item Git
                .p-skills__flex__item
                  .p-skills__item GitHub
                .p-skills__flex__item
                  .p-skills__item Netlify
                .p-skills__flex__item
                  .p-skills__item--study WordPress
                .p-skills__flex__item
                  .p-skills__item--study PHP

        .p-links.c-sec
          .l-container
            h2.c-sec__title Links

      footer
        p made by dorara. @20190512

  script(src="assets/scripts/main.js")