<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title re_may

    link(rel="stylesheet", href="assets/styles/main.css")
  body
    .l-wrap
      .p-top
        .l-container
          h1 re:may
          p Shimon Dotera`s site ver3
          img(src="assets/images/sample.jpg", alt="")
      footer

  script(src="assets/scripts/main.js")