.p-top {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &__title {
    text-align: center;
    margin-bottom: 45px;
    @include mq(tablet) {
      margin-bottom: 50px;
    }
    h1 {
      font-family: $font-head;
      font-size: 42px;
      margin-bottom: 5px;
      animation: slide-in-r__small 1.2s;
      @include mq(tablet) {
        animation: slide-in-r 1.2s;
        font-size: 62px;
      }
    }
    p {
      font-size: 16px;
      animation: slide-in-b 1.2s 2s backwards;
      @include mq(tablet) {
        font-size: 20px;
      }
    }
  }
  &__img {
    width: 142px;
    margin: 0 auto;
    animation: slide-in-l 1.2s 1s backwards;
    @include mq(tablet) {
      width: 182px;
    }
    img {
      border: 1px solid #C3C3C3;
      border-radius: 50%;
    }
  }
}