.p-about {
  p {
    font-family: $font-ja;
    text-align: center;
    line-height: 1.8;
    letter-spacing: 0.05em;
    a {
      color: rgb(58, 139, 171);
      text-decoration: underline;
    }
    & + p {
      margin-top: 25px;
    }
  }
}