.p-links {
  
  &__flex {
    width: 262px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
    // align-items: center;
    &__item {
      flex-basis: 33.3%;
      padding: 15px 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__img {
    i {
      font-size: 40px;
    }
    .fa-twitter {
      color: #1da1f2;
    }
    .fa-facebook {
      color: #3b5998;
    }
    .fa-github {
      color: #24292e;
    }
    img {
      width: 85%;
      margin: 0 auto;
      display: block;
    }
  }
}