.p-private {
  line-height: 1.6;
  padding: 80px 0;
  &__title {
    font-size: 32px;
    font-family: $font-head;
    span {
      font-size: 20px;
    }
  }

  &__desc {
    margin-top: 10px;
  }
  
  &__sec {
    margin-top: 50px;
    h2 {
      font-size: 22px;
      font-weight: bold;
    }
  }
  
  &__profile {
    font-family: font-ja;
    position: relative;
    background-color: #EBEBEB;
    padding: 20px 0 50px;    
    #check {
      display: none;
      &:checked {
        & ~ .text {
          display: block;
        }
        & + #label {
          span {
            display: inline-block;
            transform: rotate(180deg);
          }
        }
        
      }
    }
    #label {
      position: absolute;
      bottom: 20px;
      margin-top: 10px;
      display: inline-block;
      cursor: pointer;
      color: #135EB5;
    }
    .text {
      > p {
        margin-bottom: 10px;
      }
      padding: 20px 0 10px;
      display: none;
    }
  }

  &__links {
    font-family: $font-ja;
    &__flex {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -10px;
      &__item {
        padding: 10px;
        > a {
          display: block;
          font-size: 16px;
          padding: 8px 13px;
          border: 1px solid #444;
          border-radius: 100px;
        }
      }
    }
  }
}