.p-skills {

  &__flex {
    max-width: 333px;
    margin: 0 -7.5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    &__item {
      padding: 10px 7.5px; 
      flex-basis: 33.3%;
      @include mq(sp320) {
        flex-basis: 50%;
      }
    }
  }


  %__item {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  &__item {
    @extend %__item;
    background-color: #747474;
    &--study {
      @extend %__item;
      background-color: #ACACAC;
    }
  }
}