.p-works {
  &__flex {
    width: 338px;
    display: flex;
    flex-wrap: wrap;
    margin:0 -12px;
    @include mq(sp320) {
      width: 169px;
    }

    &__item {
      padding: 12px;
      &:last-of-type {
        .p-works__item::after {
          content: '＋';
          font-size: 40px;
        }
      }
    }
  }
  
  &__item {
    width: 145px;
    height: 145px;
    border: 1px solid #707070;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}