/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Sawarabi+Gothic");
@import url("https://fonts.googleapis.com/css?family=Archivo+Black&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  color: inherit;
  text-decoration: none;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 16px;
  color: #444;
  font-family: "Menlo", sans-serif;
  line-height: 1.4; }
  body img {
    max-width: 100%; }

@-webkit-keyframes circle-big {
  0% {
    opacity: 0; }
  1% {
    opacity: 1; }
  100% {
    opacity: 1;
    width: 2000px;
    height: 2000px; } }

@keyframes circle-big {
  0% {
    opacity: 0; }
  1% {
    opacity: 1; }
  100% {
    opacity: 1;
    width: 2000px;
    height: 2000px; } }

@-webkit-keyframes dropBound {
  0% {
    top: -10%; }
  10% {
    top: 0%; }
  20% {
    top: 20%; }
  30% {
    top: 50%;
    -webkit-transform: scale(0.95);
    transform: scale(0.95); }
  35% {
    top: 37%; }
  50% {
    top: 50%;
    -webkit-transform: scale(0.95);
    transform: scale(0.95); }
  55% {
    top: 43%; }
  65% {
    top: 50%;
    -webkit-transform: scale(0.95);
    transform: scale(0.95); }
  70% {
    top: 47%; }
  80% {
    top: 50%;
    -webkit-transform: scale(0.95);
    transform: scale(0.95); }
  100% {
    top: 50%;
    -webkit-transform: scale(0.95);
    transform: scale(0.95); } }

@keyframes dropBound {
  0% {
    top: -10%; }
  10% {
    top: 0%; }
  20% {
    top: 20%; }
  30% {
    top: 50%;
    -webkit-transform: scale(0.95);
    transform: scale(0.95); }
  35% {
    top: 37%; }
  50% {
    top: 50%;
    -webkit-transform: scale(0.95);
    transform: scale(0.95); }
  55% {
    top: 43%; }
  65% {
    top: 50%;
    -webkit-transform: scale(0.95);
    transform: scale(0.95); }
  70% {
    top: 47%; }
  80% {
    top: 50%;
    -webkit-transform: scale(0.95);
    transform: scale(0.95); }
  100% {
    top: 50%;
    -webkit-transform: scale(0.95);
    transform: scale(0.95); } }

@-webkit-keyframes slide-in-r {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes slide-in-r {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@-webkit-keyframes slide-in-l {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes slide-in-l {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@-webkit-keyframes slide-in-r__small {
  0% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes slide-in-r__small {
  0% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@-webkit-keyframes slide-in-b {
  0% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes slide-in-b {
  0% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.l-anime {
  height: 100%;
  width: 100%;
  background-color: #444;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .l-anime::before {
    content: '';
    position: absolute;
    z-index: 2;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    -webkit-animation: dropBound 2s forwards linear;
    animation: dropBound 2s forwards linear; }
  .l-anime::after {
    content: '';
    position: absolute;
    z-index: 3;
    top: 52%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    -webkit-animation: circle-big 1.5s 3s both;
    animation: circle-big 1.5s 3s both; }

.l-wrap {
  display: none;
  overflow: hidden; }

@-webkit-keyframes show {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes show {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.l-container {
  padding: 0 25px; }
  @media print, screen and (min-width: 768px) {
    .l-container {
      padding: 0;
      width: 652px;
      margin: 0 auto; } }

.c-sec {
  padding: 80px 0; }
  .c-sec:nth-of-type(odd) {
    background-color: #EBEBEB; }
  .c-sec__title {
    font-size: 36px;
    font-family: "Archivo Black", sans-serif;
    text-align: center;
    margin-bottom: 40px; }
    @media print, screen and (min-width: 768px) {
      .c-sec__title {
        font-size: 46px; } }

.p-top {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .p-top__title {
    text-align: center;
    margin-bottom: 45px; }
    @media print, screen and (min-width: 768px) {
      .p-top__title {
        margin-bottom: 50px; } }
    .p-top__title h1 {
      font-family: "Archivo Black", sans-serif;
      font-size: 42px;
      margin-bottom: 5px;
      -webkit-animation: slide-in-r__small 1.2s;
      animation: slide-in-r__small 1.2s; }
      @media print, screen and (min-width: 768px) {
        .p-top__title h1 {
          -webkit-animation: slide-in-r 1.2s;
          animation: slide-in-r 1.2s;
          font-size: 62px; } }
    .p-top__title p {
      font-size: 16px;
      -webkit-animation: slide-in-b 1.2s 2s backwards;
      animation: slide-in-b 1.2s 2s backwards; }
      @media print, screen and (min-width: 768px) {
        .p-top__title p {
          font-size: 20px; } }
  .p-top__img {
    width: 142px;
    margin: 0 auto;
    -webkit-animation: slide-in-l 1.2s 1s backwards;
    animation: slide-in-l 1.2s 1s backwards; }
    @media print, screen and (min-width: 768px) {
      .p-top__img {
        width: 182px; } }
    .p-top__img img {
      border: 1px solid #C3C3C3;
      border-radius: 50%; }

.p-about p {
  font-family: "Sawarabi Gothic", sans-serif;
  text-align: center;
  line-height: 1.8;
  letter-spacing: 0.05em; }
  .p-about p + p {
    margin-top: 25px; }

.p-works__flex {
  width: 338px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -12px; }
  @media print, screen and (max-width: 374px) {
    .p-works__flex {
      width: 169px; } }
  .p-works__flex__item {
    padding: 12px;
    position: relative;
    counter-increment: cnt; }

.p-works__item {
  width: 145px;
  height: 145px;
  border: 1px solid #707070;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media print, screen and (min-width: 1024px) {
    .p-works__item::before {
      content: counter(cnt);
      font-size: 20px; }
    .p-works__item:hover::before {
      content: ''; }
    .p-works__item:hover + .p-works__bg {
      opacity: 1; } }

.p-works__bg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 87%;
  height: 87%;
  z-index: -1;
  -webkit-transition: opacity .5s;
  transition: opacity .5s; }
  .p-works__bg img {
    border-radius: 50%; }
  @media print, screen and (min-width: 1024px) {
    .p-works__bg {
      opacity: 0; } }

.p-skills ul {
  max-width: 333px;
  margin: 0 -7.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .p-skills ul > li {
    padding: 10px 7.5px;
    -ms-flex-preferred-size: 33.3%;
    flex-basis: 33.3%; }
    @media print, screen and (max-width: 374px) {
      .p-skills ul > li {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%; } }

.p-skills .p-skills__item, .p-skills .p-skills__item-study {
  min-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-align: center; }

.p-skills__item {
  background-color: #747474; }
  .p-skills__item-study {
    background-color: #ACACAC; }

.p-links__flex {
  width: 262px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -20px; }
  .p-links__flex__item {
    -ms-flex-preferred-size: 33.3%;
    flex-basis: 33.3%;
    padding: 15px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.p-links__img i {
  font-size: 40px; }

.p-links__img .fa-twitter {
  color: #1da1f2; }

.p-links__img .fa-facebook {
  color: #3b5998; }

.p-links__img .fa-github {
  color: #24292e; }

.p-links__img img {
  width: 85%;
  margin: 0 auto;
  display: block; }

.p-footer {
  padding: 60px 0;
  text-align: center; }

.p-private {
  line-height: 1.6;
  padding: 80px 0; }
  .p-private__title {
    font-size: 40px;
    font-family: "Archivo Black", sans-serif; }
    .p-private__title span {
      font-size: 22px; }
  .p-private__desc {
    margin-top: 15px; }
    .p-private__desc > a {
      color: #135EB5;
      text-decoration: underline; }
  .p-private__sec {
    margin-top: 25px;
    padding: 25px 0; }
    .p-private__sec:nth-child(even) {
      background-color: #EBEBEB; }
    .p-private__sec h2 {
      font-size: 22px;
      font-weight: bold; }
  .p-private__profile {
    padding: 20px 0 50px; }
    .p-private__profile .text {
      padding: 20px 0 10px; }
      .p-private__profile .text > p {
        margin-bottom: 10px; }
  .p-private__links__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -10px; }
    .p-private__links__flex__item {
      padding: 10px; }
      .p-private__links__flex__item > a {
        display: block;
        font-size: 16px;
        padding: 8px 13px;
        border: 1px solid #135EB5;
        color: #135EB5;
        border-radius: 100px; }

.u-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
